

{% extends "customer/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load humanize %}
{% load l10n %}

{% block headcdn %}
{% endblock headcdn %}

{% block content%}
<div class="row">
    <div class="col-lg-4 mb-3 mb-lg-0">
        <div class="card text-center">
            <div class="card-body pb-0">
                <img src="https://via.placeholder.com/450" alt="">  
                
                <h2 class="mt-4 mb-4">
                    Barbershop Name
                </h2>
                <p>
                    Barbershop Review Rate
                </p>
                <p>
                    <Address>Barbershop address</Address>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            {% trans 'Home' %}
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            {% trans 'Services' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            {% trans 'Reviews' %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="border: none">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="chartjs-size-monitor">
                                    <div class="chartjs-size-monitor-expand">
                                        <div class="">
                                        </div>
                                    </div>
                                    <div class="chartjs-size-monitor-shrink">
                                        <div class="">
                                        </div>
                                    </div>
                                </div>
                                <h4 class="card-title">Sales Difference</h4>
                                <canvas id="salesDifference" style="display: block; height: 163px; width: 326px;" width="366" height="183" class="chartjs-render-monitor"></canvas>
                                <p class="mt-3 mb-4 mb-lg-0">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-5">
                                <h4 class="card-title">Best Sellers</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="graphl-legend-rectangle">
                                            <li><span class="bg-danger"></span>Automotive</li>
                                            <li><span class="bg-warning"></span>Books</li>
                                            <li><span class="bg-info"></span>Software</li>
                                            <li><span class="bg-success"></span>Video games</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 grid-margin"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                        <canvas id="bestSellers" width="299" height="149" class="chartjs-render-monitor" style="display: block; height: 133px; width: 266px;"></canvas>
                                    </div>
                                </div>
                                <p class="mt-3 mb-4 mb-lg-0">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                            <div class="col-lg-3">
                                <h4 class="card-title">Social Media Statistics</h4>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="progress progress-lg grouped mb-2">
                                            <div class="progress-bar  bg-danger" role="progressbar" style="width: 40%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <ul class="graphl-legend-rectangle">
                                            <li><span class="bg-danger"></span>Instagram (15%)</li>
                                            <li><span class="bg-warning"></span>Facebook (20%)</li>
                                            <li><span class="bg-info"></span>Website (25%)</li>
                                            <li><span class="bg-success"></span>Youtube (40%)</li>
                                        </ul>
                                    </div>
                                </div>
                                <p class="mb-0 mt-2">Lorem ipsum dolor sit amet,
                                    consectetur adipisicing elit.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        {% lorem %}
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        {% lorem %}
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
{% endblock %}