

{% extends "customer/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load humanize %}
{% load l10n %}

{% block headcdn %}
{% endblock headcdn %}

{% block content%}
<div class="row">
    <div class="col-lg-4 mb-3 mb-lg-0">
            <div class="card text-center"><div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://via.placeholder.com/450" alt="">  
                    </div>
                    <div class="carousel-item">
                        <img src="https://via.placeholder.com/450" alt="">  
                    </div>
                    <div class="carousel-item">
                        <img src="https://via.placeholder.com/450" alt="">  
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            <div class="card-body pb-0">
                <h2 class="mt-4 mb-3">
                    {{barbershop.name}}
                </h2>
                <p>
                    <label class="badge badge-success text-white">{{barbershop.review_rate|floatformat}}</label>
                </p>
                <p>
                    <Address>
                        {{barbershop.address.description}}
                    </Address>
                    <Address>
                        <td><a href="/barbershop/{{barbershop.slug}}" type="button" class="btn btn-primary">{% trans "Book" %}</a></td>
                    </Address>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            {% trans 'About' %}
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            {% trans 'Services' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            {% trans 'Reviews' %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="border: none">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            {{barbershop.about}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            <table class="table table-hover text-center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>{% trans "Service Name" %}</th>
                                        <th>{% trans "Price" %}</th>
                                        <th>{% trans "Duration" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for service in barbershop.services.all %}
                                        <tr>
                                            <td>{{service.name}}</td>
                                            <td>{{service.price}} TL</td>
                                            <td>{{service.duration_mins}} {% trans "Minutes" %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            <table class="table table-hover text-center" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>{% trans "Reviewer" %}</th>
                                        <th>{% trans "Comments" %}</th>
                                        <th>{% trans "Rated" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for review in barbershop.customer_reviews.all %}
                                        <tr>
                                            <td>{{review.reviewer.email}}</td>
                                            <td>{{review.comments}}</td>
                                            <td>Rated {{review.review_rate|floatformat}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
{% endblock %}