

{% extends "customer/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load humanize %}
{% load l10n %}

{% block headcdn %}
{% endblock headcdn %}

{% block content%}
<div class="row">
    <div class="col-lg-4 mb-3 mb-lg-0">
        <div class="card text-center">
            <div class="card-body pb-0">
                <img src="https://via.placeholder.com/450" alt="">  
                <h2 class="mt-4 mb-3">
                    {{barbershop.name}}
                </h2>
                <p>
                    <label class="badge badge-success text-white">{{barbershop.review_rate|floatformat}}</label>
                </p>
                <p>
                    <Address>
                        {{barbershop.address.description}}
                    </Address>
                </p>
            </div>
        </div>
    </div>
    <div class="col-lg-8 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item mr-2">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                            {% trans 'About' %}
                        </a>
                    </li>
                    <li class="nav-item mr-2">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                            {% trans 'Services' %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">
                            {% trans 'Reviews' %}
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent" style="border: none">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                            {{barbershop.about}}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
                            {% lorem %}
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row">
                            {% lorem %}
                        </div>
                    </div>
                </div>
          
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerjs %}
{% endblock %}