{% extends "customer/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}
{% load humanize %}
{% load l10n %}


{% block headcdn %}
<style>
    .table td, th {
        text-align: center;
    }
    /* .clickable-tr td:hover{
        cursor: pointer;
        
    }
    .clickable-tr:hover{
        box-shadow: 0 14px 28px rgba(211, 211, 211, 0.25), 0 10px 10px rgba(0,0,0,0.22);
    } */
    /* .bg-gray-shadow{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    } */
    .modal{
        top: 30%;
    }
</style>
{% endblock %}

{% block content %}

<div class="row" style="height:75vh">
    {% if data.filters.filtered %}
    <div class="col-3 h-100  p-0" id="mySidebar">
        <div class="card h-100">
            <div class="card-body h-100">
                {% include "customer/partials/filters.html" with filters=data.filters %}
            </div>
        </div>
    </div>
    <div id="content" class="col-9 h-100">
        <div class="card h-100">
            <!-- <button class="openbtn" filter="opened">☰ Toggle Sidebar</button>  -->

            <!-- <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">

                        </div>
                    </li>
                </ul>
            </div> -->
            <div class="card-body h-100" style="overflow-y:scroll;">
                <nav>
                    <div class="nav nav-tabs mb-1" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active mr-2" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                            {% trans "Barbershops Around Me" %}
                        </a>
                        {% if not user.is_anonymous %}
                        <a class="nav-item nav-link mr-2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                            {% trans "Visited Barbershops" %}
                            {% if user.number_of_unreviewed_past_schedules > 0  %}
                                <span class="badge badge-primary">{{user.number_of_unreviewed_past_schedules}}</span>
                            {% endif %}
                        </a>
                        <a class="nav-item nav-link" id="nav-favbarbers-tab" data-toggle="tab" href="#nav-favbarbers" role="tab" aria-controls="nav-favbarbers" aria-selected="false">
                            {% trans "Favourite Barbershops" %}
                        </a>
                        {% endif %}
                    </div>
                </nav>
                <div class="table-responsive">
                    <div class="tab-content p-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                            <table class="table table-hover" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>{% trans "Barbershop" %}</th>
                                        <th>{% trans "Reviews" %}</th>
                                        <th>{% trans "Distance" %}</th>
                                        <th>{% trans "Cost" %}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for barbershop in data.barbershops %}
                                    <tr class="clickable-tr">
                                        <td><a href="/barbershop/{{barbershop.slug}}/profile" type="button" class="btn btn-primary">{{barbershop.name}}</a></td>
                                        <td>   
                                            {% if barbershop.customer_reviews.count > 0 %}
                                            <label class="badge badge-success text-white">{{barbershop.review_rate|floatformat}}</label>
                                            {% else %}
                                            {% trans 'Has no reviews' %}
                                            {% endif %}
                                        </td>
                                        <td>3 KM</td>
                                        <td>10-20 TL</td>
                                        <td><a href="/barbershop/{{barbershop.slug}}" type="button" class="btn btn-primary">{% trans "Book" %}</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% if not user.is_anonymous %}
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <table class="table" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>{% trans "Barbershop" %}</th>
                                        <th>{% trans "Reviews" %}</th>
                                        <th>{% trans "Date" %}</th>
                                        <th>{% trans "Paid" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for schedule in user.past_barbershop_schedules %}
                                    <tr>
                                        <td><a href="/barbershop/{{schedule.barbershop.slug}}/profile" type="button" class="btn btn-primary">{{schedule.barbershop.name}}</a></td>
                                        <td class="text-center justify-content-center px-auto">
                                            {% if not schedule.reviewed %}
                                            <button type="button" class="rate-btn btn btn-primary btn-rounded btn-fw" schedule-id="{{schedule.id}}" data-toggle="modal" data-target="#review-modal">{% trans "Review" %}</button>
                                            {% else %}
                                            <div class="rateYo mx-auto" rating="{{schedule.review.review_rate|floatformat}}" ></div>
                                            {% endif %}
                                        </td>
                                        <td>{{schedule.end_time|naturaltime}}</td>
                                        <td>Paid</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    {% elif data.filters.filtered is False %}
    <div class="col-12 h-100  p-0" id="mySidebar">
        <div class="card h-100">
            <div class="card-body h-100">
                {% include "customer/partials/filters.html" with filters=data.filters %}
            </div>
        </div>
    </div>
    {% endif %}
    
</div>

<!-- Modal -->
<div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{% trans "Review the barbershop" %}</h5>
        </div>
        <div class="modal-body mx-auto text-center">
            <div id="review-rate-yo" class="rateYo"></div>
            <p class="mt-2">{% trans "Do you have any comments?" %}</p>
        </div>
        <textarea id="comments-input" class="form-control px-2" id="exampleTextarea1" rows="4" placeholder="{% trans 'Your comments...' %}"></textarea>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
            <button id="submit-review-btn" type="button" class="btn btn-primary" data-dismiss="modal">{% trans "Submit" %}</button>
        </div>
        </div>
    </div>
</div>
{% endblock %}


{% block footerjs %}
<script>
    // $(".clickable-tr").on("click", function(){
    //     window.location = $(this).attr("data-href")
    // })
</script>

<script>
    $(function(){
        $('.init-select2').select2();
        initProvinceChange()        
        initFilterOpenClose()
        initSelectProvinceDistrictForm()
        initRateBtn()
        initSubmitReviewBtn()
        initRateStars()
    })
    
    function initRateBtn(){
        $(".rate-btn").on("click", function(){
            let scheduleID = $(this).attr("schedule-id")
            $("#review-rate-yo").rateYo("rating", 0)
            $("#submit-review-btn").attr("schedule-id", scheduleID)
        })
    }

    function initRateStars(){
        $(".rateYo").each(function(){
            $rateyo = $(this).rateYo({
                halfStar: true
            })
            const rating = parseInt($(this).attr("rating"))
            if(rating){
                $rateyo.rateYo("option", "readOnly", true).rateYo("rating", rating/2)
            }
        })
    }

    function destroyRateStar(){
        $("#review-rate-yo").rateYo("destroy");
    }

    function initSubmitReviewBtn(){
        $("#submit-review-btn").on("click", function(){
            let scheduleID = $(this).attr("schedule-id")
            let barbershopID = $(this).attr("barbershop-id")
            let rating = $("#review-rate-yo").rateYo("rating")
            let comments = $("#comments-input").val()
            $.blockUI({ message: '{% trans "Please wait" %}' })
            $.ajax({
                type: 'POST',
                url: '{% url "review-barbershop-ajax" %}',
                data: {
                    schedule_id: scheduleID,
                    comments: comments,
                    review_rate: rating,
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                },
                success:function(data){
                    $.unblockUI();
                    console.log("wololo")
                    if(data['status']=='success'){
                        Swal.fire({
                            type: 'success',
                            title: '{% trans "Your review successfully submitted." %}',
                            showConfirmButton: false,
                            timer: 2000
                        })
                    }else{
                        Swal.fire({
                            type: 'error',
                            title: 'Oops...',
                            text: '{% trans "Something went wrong!" %}',
                        })
                    }
                }
            })
            destroyRateStar()
        })
    }

    function geoFindMeAndInitMap() {

        function success(position) {
            const latitude  = position.coords.latitude;
            const longitude = position.coords.longitude;
            // initMap(latitude, longitude )
            
        }

        function error() {
            alert('Unable to retrieve your location')
        }

        if (!navigator.geolocation) {
            alert('Geolocation is not supported by your browser')
        } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
        }

    }
    function reverseGeocode(){
        
    }

    function initFilterOpenClose(){
        $(".openbtn").on("click", function(){
            if($(this).attr("filter")=="opened"){
                // alert("wololo")
                $("#mySidebar").addClass("d-none")
                $("#content").removeClass("col-9").addClass("col-12")
                $(this).attr("filter","closed")
            }else{
                $("#mySidebar").removeClass("d-none")
                $("#content").removeClass("col-12").addClass("col-9")
                $(this).attr("filter","opened")
            }

        })
    }

    function initSelectProvinceDistrictForm(){
        $(".address-filter").each(function(){
            let addressType = $(this).attr("id").split("_")[2]
            $("#"+addressType+"Input").val($(this).val()) 
        })
        $(".address-filter").on("change", function(){
           let addressType = $(this).attr("id").split("_")[2]
           $("#"+addressType+"Input").val($(this).val())
        })
    }
</script>

<!-- <script type="text/javascript" src="{% static 'wololo/js/villageResources.js' %}"></script> -->

{% endblock %}