{% extends "customer/partials/layout.html" %}
{% load static %}

{% block headcdn %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
{% endblock %}

{% block content %}
<style>
    #map { width: 100%; }

</style>
<div class="row align-items-center">
    <div class="container">
            <div id="map" style="height:auto!important; min-height:70vh; border: 1px solid #AAA;"></div>
    </div>
    
</div>



{% endblock %}


{% block footerjs %}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>

    <script>

        $(function(){
            geoFindMeAndInitMap()
        })

        function geoFindMeAndInitMap() {

            function success(position) {
                const latitude  = position.coords.latitude;
                const longitude = position.coords.longitude;
                initMap(latitude, longitude )
            }

            function error() {
                status.textContent = 'Unable to retrieve your location';
            }

            if (!navigator.geolocation) {
                status.textContent = 'Geolocation is not supported by your browser';
            } else {
                status.textContent = 'Locating…';
                navigator.geolocation.getCurrentPosition(success, error);
            }

        }

        function initMap(lat, lng){
            var map = L.map( 'map', {
                center: [lat, lng],
                minZoom: 2,
                zoom: 13
            });               
            L.tileLayer( 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
                subdomains: ['a','b','c']
            }).addTo( map );
            var currentLocationIcon = getCurrentLocationIcon()
            L.marker([lat, lng], {icon: currentLocationIcon}).addTo(map);

        }

        function getCurrentLocationIcon(){
            return L.icon({
                iconUrl: "{%static 'img/map-images/current-location.png' %}",

                iconSize:     [38, 51], // size of the icon
                iconAnchor:   [17, 51], // point of the icon which will correspond to marker's location
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor

            });
            

        }
    </script>
{% endblock %}