{% extends "customer/partials/layout.html" %}
{% load static %}
{% load l10n %}

{% block headcdn %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
{% endblock %}

{% block content %}
<style>
    #map { width: 100%; }

</style>
<div class="row align-items-center">
    <div class="container">
        <div id="map" style="height:auto!important; min-height:70vh; border: 1px solid #AAA;"></div>
    </div>
    
</div>
<!-- {% for barbershop in data.barbershops %}
    {{barbershop}}
{% endfor %} -->

{% endblock %}


{% block footerjs %}

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU9A4B2NgJQvun4QqrQkBVS0e3a4ZCO4A&callback=geoFindMeAndInitMap" async defer></script>
<!-- 
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script> -->

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script>
        var map;
        
        $(function(){
            geoFindMeAndInitMap()
        })

        function geoFindMeAndInitMap() {

            function success(position) {
                const latitude  = position.coords.latitude;
                const longitude = position.coords.longitude;
                initMap(latitude, longitude )
            }

            function error() {
                alert('Unable to retrieve your location')
            }

            if (!navigator.geolocation) {
                alert('Geolocation is not supported by your browser')
            } else {
                status.textContent = 'Locating…';
                navigator.geolocation.getCurrentPosition(success, error);
            }
        
        }

        let barbershopMarkers = []
        function initMap(lat, lng){

            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: lat, lng: lng},
                zoom: 15,
                fullscreenControl: false,
            });
            
            var currentLocationMarker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                icon: 'http://www.robotwoods.com/dev/misc/bluecircle.png'
            });

            let origin = $(location).attr("origin")
            // Create markers.
            {% for barbershop in data.barbershops %}
            
            var myLatLng = {lat: {{barbershop.address.lat|unlocalize}}, lng:{{barbershop.address.lng|unlocalize}}};
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                icon: {
                    url: '{% static "img/icons/barbershop-icon.png" %}',
                    scaledSize: new google.maps.Size(48, 48)
                },
                title: 'Hello World!'
            });
            {% endfor %}

        }


    </script>
{% endblock %}