{% extends "barber/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block headcdn %}
<style>
.imagePreview{
    width: 100%;
    height: 180px;
    background-position: center center;
    background:url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
    background-color:#fff;
    background-size: cover;
    background-repeat:no-repeat;
    display: inline-block;
    box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
}
.imgUp{
    margin-bottom:15px;
}
.del{
    position:absolute;
    top:0px;
    right:15px;
    width:30px;
    height:30px;
    text-align:center;
    line-height:30px;
    background-color:rgba(255,255,255,0.6);
    cursor:pointer;
}
.imgAdd{
    width:30px;
    height:30px;
    border-radius:50%;
    background-color:#4bd7ef;
    color:#fff;
    box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
    text-align:center;
    line-height:30px;
    margin-top:0px;
    cursor:pointer;
    font-size:15px;
}
</style>
{% endblock %}

{% block content %}
<form method="post" action="{% url 'user-settings-add-photo' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.errors}}
    <div class="row text-center justify-content-center">
        {% if data.barbershop_images %}
            <div class="col">
                {% trans 'No images upladed yet.' %}<br>
                <label class="btn btn-primary mt-3">
                    {% trans 'Upload' %}
                    <input type="file" name="image-input" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                </label>
            </div>
        {% else %}

        {% endif %}
        <!-- <div class="col-sm-2 imgUp">
            <div class="imagePreview"></div>
            <label class="btn btn-primary">
                Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
            </label>
        </div>
        <i class="fas fa-plus-circle imgAdd"></i> -->

        <!-- Modal -->
        <div class="modal fade" id="upload-pic-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="imagePreview"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Cancel" %}</button>
                        <button onclick='$(form).submit()' class="btn btn-primary" data-dismiss="modal">{% trans "Save" %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block footerjs %}
<script>
    $(".imgAdd").click(function(){
        $(this).closest(".row")
            .find('.imgAdd')
            .before('<div class="col-sm-2 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
    });
    $(document).on("click", "i.del" , function() {
        $(this).parent().remove();
    });
    $(function() {
        $(document).on("change",".uploadFile", function(){
            var uploadFile = $(this);
            var files = !!this.files ? this.files : [];
            if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
    
            if (/^image/.test(files[0].type)){ // only image file
                var reader = new FileReader(); // instance of the FileReader
                reader.readAsDataURL(files[0]); // read the local file
    
                reader.onloadend = function(){ // set image data as background of div
                    //alert(uploadFile.closest(".upimage").find('.imagePreview').length);
                    $("#upload-pic-modal").modal('toggle');
                    $("#upload-pic-modal").find('.imagePreview').css("background-image", "url("+this.result+")");
                }
            }else{
                alert("file type not supported")
            }
        });
    });
</script>

{% endblock %}