{% extends "barber/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block headcdn %}
<style>
    .select2-selection__rendered {
        line-height: 43px !important;
    }
    .select2-container .select2-selection--single {
        height: 47px !important;
    }
    .select2-selection__arrow {
        height: 46px !important;
    }
    span.select2.select2-container.select2-container {
        margin-bottom: 5px!important;
        margin-right: 1vh!important;
    }


    .save-floationg {
        position: fixed;
        bottom: 4vh;
        width: 100%;
        left:0;
    }

    .floating-button {
        width: 10%;
        height: 5vh;
        box-sizing: border-box;
    }

</style>
{% endblock %}

{% block content %}
<form class="" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="card col-md-12 grid-margin stretch-card">
            <div class="row">
                <div class="col-md-6 grid-margin stretch-card border" style="height:75vh">
                    <div class="card-body text-center">
                        <h4 class="card-title">{% trans "Barbershop Settings" %}</h4>
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        {{form.errors}}
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card border" style="height:75vh; overflow:scroll;">
                    <div class="card-body text-center">
                        <h4 class="card-title">{% trans "Employees" %}</h4>
                        <input type="hidden" name="extra" value="{{extra}}">
                        <div class="form-group">
                            <fieldset>
                                {{formset.management_form }}
                                {% for form in employee_formset %}
                                <div class="form-inline">
                                    {{form.title}}
                                    {{ form.name }}                                    
                                    {{ form.surname }}
                                </div>
                                <div class="danger">
                                    {{form.errors}}
                                </div>
                                {% endfor %}
                                <input type="submit" name="action" value="+" class="btn btn-success float-right mr-2">
                            </fieldset>
                        </div>
                        <h4 class="card-title">{% trans "Services" %}</h4>
                        <div class="form-group">
                            wololo<Br>

                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="save-floationg">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                    {% if not edit%}
                    <button  type="submit" name="action" value="Create" class="floating-button btn btn-primary w-100">
                        {% trans 'Save' %}
                    </button>        
                {% else %}
                    <button  type="submit" name="action" value="Edit" class="floating-button btn btn-primary w-100">
                        {% trans 'Edit' %}
                    </button>        
                {% endif %}
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</form>

{% endblock %}


{% block footerjs %}
<script>
    $(()=>{
        $('.init-select2').select2();
    })
    if ($("#myform").data("changed")) {
        // submit the form
    }
</script>
{% endblock %}