{% extends "barber/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block headcdn %}
<style>
    .select2-selection__rendered {
        line-height: 43px !important;
    }
    .select2-container .select2-selection--single {
        height: 47px !important;
    }
    .select2-selection__arrow {
        height: 46px !important;
    }
    span.select2.select2-container.select2-container {
        margin-bottom: 5px!important;
        margin-right: 1vh!important;
    }


    .save-floationg {
        position: fixed;
        bottom: 4vh;
        width: 100%;
        left:0;
    }

    .floating-button {
        width: 10%;
        height: 5vh;
        box-sizing: border-box;
    }

</style>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 30vh;
    }

    .centerMarker{
        position:absolute;
        /*url of the marker*/
        background:url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
        /*center the marker*/
        top:50%;left:50%;

        z-index:1;
        /*fix offset when needed*/
        margin-left:-10px;
        margin-top:-34px;
        /*size of the image*/
        height:34px;
        width:20px;
        cursor:pointer;
    }
</style>
{% endblock %}

{% block content %}
<form class="" method="post" action="{{ action }}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="card col-md-12 grid-margin stretch-card">
            <div class="row">
                {% if not user.barbershops.all.exists %} 
                    <div class="card-body text-center">
                        <h4 class="card-title">{% trans "Barbershop Settings" %}</h4>
                        {% include "barber/forms/barbershop_form.html" with barbershop_form=barbershop_form %}
                    </div>
                {% else %} 
                    <div class="col-md-6 grid-margin stretch-card" style="height:90vh;">
                        <div class="card-body text-center">
                            <h4 class="card-title">{% trans "Barbershop Settings" %}</h4>
                            {% include "barber/forms/barbershop_form.html" with barbershop_form=barbershop_form %}
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card" style="height:90vh;">
    
                        <div class="card-body text-center">
                            {% if employee_formset %}
    
                            <h4 class="card-title">{% trans "Employees" %}</h4>
                            <input id="extra" type="hidden" name="extra" value="{{extra}}">
                            <div class="form-group">
                                <fieldset>
                                    {{employee_formset.management_form }}
                                    {% for form in employee_formset %}
                                    <div class="form-inline form-row">
                                        <div class="employee_id_input d-none">{{form.id}}</div>
                                        {{ form.title }}
                                        {{ form.name }}                                    
                                        {{ form.surname }}
                                        {{form.errors}}
                                    </div>
                                    {% endfor %}
                                    <!-- <input type="submit" name="action" value="+" class="btn btn-success float-right mr-2"> -->
                                    <button class="btn btn-success add-form-row float-right mr-4">+</button>
                                </fieldset>
                            </div>
                            {% endif %}
                            {% if barbershop_services_formset %}
                                <h4 class="card-title">{% trans "Services" %}</h4>
                                <div class="form-group">
                                    <table class="table text-center">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th class="pr-5"><div class="pr-3">{% trans 'Price' %}</div></th>
                                                <th>{% trans 'Duration(minutes)' %}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{barbershop_services_formset.management_form }}
                                            {% for form in barbershop_services_formset %}
                                            <tr>
                                                {{ form.id }}
                                                <td>
                                                    <input type="text" value="{% trans form.name.value %}" class="form-control text-center" readonly>   
    
                                                    {{ form.name }}
                                                </td>
                                                <td>
                                                    <div class="input-group">
                                                    {{ form.price }}  
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">TL</span>
                                                    </div>
                                                </div>
                                                </td>
                                                <td>{{ form.duration_mins }}</td>
                                                <div class="danger">
                                                    {{form.errors}}
                                                </div>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="save-floationg">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                {% if not edit%}
                    <button  type="submit" name="action" value="Create" class="floating-button btn btn-primary w-100">
                        {% trans 'Save' %}
                    </button>        
                {% else %}
                    <button  type="submit" name="action" value="Edit" class="floating-button btn btn-primary w-100">
                        {% trans 'Edit' %}
                    </button>        
                {% endif %}
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</form>

{% endblock %}

{% block footerjs %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAU9A4B2NgJQvun4QqrQkBVS0e3a4ZCO4A&callback=initMap" async defer></script>
<script>
    var map;
    var geocoder;
    $(()=>{
        $('.init-select2').select2();
        $(document).on('click', '.add-form-row', function(e){
            e.preventDefault();
            $(".init-select2").select2("destroy")
            // $(".init-select2")
            //     .removeAttr("data-select2-id aria-hidden tabindex")
            //     .removeClass("select2-hidden-accessible")
            cloneMore('.form-row:last', 'employees');
            $(".init-select2").select2(); //reinit 

            return false;
        });
        $(document).on('click', '.remove-form-row', function(e){
            e.preventDefault();
            deleteForm('employees', $(this));
            return false;
        });

        initProvinceChange()        

    })


    //dynamically add form--

    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        
        var newElement = $(selector).clone(true);
        var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        var selectTagID
        newElement.find('select, input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            if(typeof total === "undefined"){
                total = $(".form-row").length
                $("#id_form-TOTAL_FORMS").val(total+1)
            }
            var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
            var id = 'id_' + name;
            if($(this).prop("tagName")=='SELECT') selectTagID = id
            $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);

        let clonedElement = $(selector).after(newElement);

        $(clonedElement).next().find("select")
            .removeAttr("data-select2-id aria-hidden tabindex")
            .removeClass("select2-hidden-accessible")
            .val("Master")
                .siblings("span").remove()

        $(clonedElement).next().find(".employee_id_input").remove()
        if($(clonedElement).next().find(".errorlist").length)$(clonedElement).next().find(".errorlist").remove()
   

        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1){
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    function initMap() {
        geocoder = new google.maps.Geocoder();
        let lat, lng;
        if($("#id_address_lat").val()){
            lat = parseFloat($("#id_address_lat").val())
            lng = parseFloat($("#id_address_lng").val())
        }else{
            lat = -34.397
            lng = 150.644
        }
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: lat, lng: lng},
            zoom: 15,
            fullscreenControl: false,
        });
        map.setOptions({draggable: true});
        google.maps.event.addListener(map, 'dragend', function() {
            writeCenterOfMapToCoordsForm()
        });

        $('<div/>').addClass('centerMarker').appendTo(map.getDiv())
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                map.setZoom(15);
                writeCenterOfMapToCoordsForm()
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function writeCenterOfMapToCoordsForm(){
        const mapCenter = map.getCenter()
        console.log("map center = ", mapCenter.lat(), mapCenter.lng())
        //fill the coords field 
        $("#id_address_lat").val(mapCenter.lat().toFixed(6))
        $("#id_address_lng").val(mapCenter.lng().toFixed(6))
    }

</script>
{% endblock %}