{% extends "barber/partials/layout.html" %}
{% load static %}
{% load sass_tags %}
{% load i18n %}

{% block headcdn %}
<style>
    .select2-selection__rendered {
        line-height: 43px !important;
    }

    .select2-container .select2-selection--single {
        height: 47px !important;
    }

    .select2-selection__arrow {
        height: 46px !important;
    }

    span.select2.select2-container.select2-container {
        margin-bottom: 5px !important;
        margin-right: 1vh !important;
    }


    .save-floationg {
        position: fixed;
        bottom: 4vh;
        width: 100%;
        left: 0;
    }

    .floating-button {
        width: 10%;
        height: 5vh;
        box-sizing: border-box;
    }
</style>

<style>
    /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
    #map {
        height: 30vh;
    }

    .centerMarker {
        position: absolute;
        /*url of the marker*/
        background: url(http://maps.gstatic.com/mapfiles/markers2/marker.png) no-repeat;
        /*center the marker*/
        top: 50%;
        left: 50%;

        z-index: 1;
        /*fix offset when needed*/
        margin-left: -10px;
        margin-top: -34px;
        /*size of the image*/
        height: 34px;
        width: 20px;
        cursor: pointer;
    }

    .serviceSelectInputGroup .select2-selection__arrow {
        display: none;
    }
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.min.css">
{% endblock %}

{% block content %}
<form class="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="card col-md-12 grid-margin stretch-card">
            <div class="row">
                {% if not user.barbershops.all.exists %}
                <div class="card-body text-center">
                    <h4 class="card-title">{% trans "Barbershop Settings" %}</h4>
                    {% include "barber/forms/barbershop_form.html" with barbershop_form=barbershop_form %}
                </div>
                {% else %}
                <div class="col-md-6 grid-margin stretch-card mb-0">
                    <div class="card-body text-center">
                        <h4 class="card-title">{% trans "Barbershop Settings" %}</h4>
                        {% include "barber/forms/barbershop_form.html" with barbershop_form=barbershop_form %}
                    </div>
                </div>
                <div class="col-md-6 grid-margin stretch-card mb-0">

                    <div class="card-body text-center">
                        {% if employee_formset %}

                        <h4 class="card-title">{% trans "Employees" %}</h4>
                        <input id="extra" type="hidden" name="extra" value="{{extra}}">
                        <div class="form-group">
                            <fieldset>
                                {{ employee_formset.management_form }}
                                {% for form in employee_formset %}
                                <div class="form-inline form-row">
                                    <div class="employee_id_input d-none">{{form.id}}</div>
                                    {{ form.title }}
                                    {{ form.name }}
                                    {{ form.surname }}
                                    {{ form.errors }}
                                </div>
                                {% endfor %}
                                <!-- <input type="submit" name="action" value="+" class="btn btn-success float-right mr-2"> -->
                                <button id="add-employee-form-row" class="btn btn-primary float-right mr-4">+</button>
                            </fieldset>
                        </div>
                        {% endif %}
                        {% if barbershop_services_formset %}
                        <h4 class="card-title">
                            {% trans "Services" %}
                        </h4>
                        <div id="vue-app">
                            <tr class="form-group">
                                <treeselect 
                                    v-model="value"
                                    allowClearingDisabled="false"
                                    :multiple="true"
                                    :options="options">
                                </treeselect>
                                <input 
                                    type="hidden" 
                                    name="barbershop_services-TOTAL_FORMS"
                                    v-model="servicesFormset.total_form_count"
                                    id="id_barbershop_services-TOTAL_FORMS"
                                >
                                <input 
                                    type="hidden" 
                                    name="barbershop_services-INITIAL_FORMS"
                                    v-model="servicesFormset.initial_form_count"
                                    id="id_barbershop_services-INITIAL_FORMS"
                                >
                                <input
                                    type="hidden" 
                                    name="barbershop_services-MIN_NUM_FORMS" 
                                    value="0"
                                    id="id_barbershop_services-MIN_NUM_FORMS">
                                <input 
                                    type="hidden"
                                    name="barbershop_services-MAX_NUM_FORMS"
                                    value="1000"
                                    id="id_barbershop_services-MAX_NUM_FORMS"
                                >
                                <table class="table text-center">
                                    <thead>
                                        <tr>
                                            <th>{% trans 'Service name' %}</th>
                                            <th>{% trans 'Price' %}</th>
                                            <th>{% trans 'Duration(minutes)' %}</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form in barbershop_services_formset %}
                                        <tr>
                                            <td class="py-1 serviceSelectInputGroup">
                                                {{ form.service }} 
                                                <div class="barbershop_services d-none">{{form.id}}</div>
                                            </td>
                                            <td class="py-1">
                                                <div class="input-group">
                                                    {{ form.price }}
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">TL</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="py-1">
                                                {{ form.duration_mins }}
                                            </td>
                                            <td class="py-1">
                                                <button 
                                                    serviceID="{{form.id.value}}" 
                                                    class="btn remove-service-btn btn-danger float-right mr-4"
                                                >
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </td>
                                            {{ form.errors }}
                                        </tr>
                                        {% endfor %}
                                        <tr v-for="(addedServiceID, index) in addedServices()">
                                            <td class="serviceSelectInputGroup py-1">
                                                <select
                                                    :name="'barbershop_services-'+ (value.length-addedServices().length+index) +'-service'"
                                                    readonly="readonly"
                                                    :id="'id_barbershop_services-'+ (value.length-addedServices().length+index) +'-service'"
                                                    :data-select2-id="'barbershop_services-'+ (value.length-addedServices().length+index) +'-service'"
                                                    tabindex="-1" aria-hidden="true"
                                                    class="form-control text-center init-select2">
                                                    <option :value="addedServiceID" selected="selected">
                                                        [[findServiceByID(addedServiceID).label]]</option>
                                                </select>
                                            </td>
                                            <td class="py-1">
                                                <div class="input-group">
                                                    <input 
                                                    type="number"
                                                    :name="'barbershop_services-'+ (value.length-addedServices().length+index) +'-price'"
                                                    value="10"
                                                    :id="'id_barbershop_services-'+ (value.length-addedServices().length+index) +'-price'"
                                                    class="form-control text-center">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">TL</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="py-1">
                                                <input type="number"
                                                :name="'barbershop_services-'+ (value.length-addedServices().length+index) +'-duration_mins'"
                                                value="20"
                                                :id="'id_barbershop_services-'+ (value.length-addedServices().length+index) +'-duration_mins'"
                                                class="form-control text-center">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- <input type="submit" name="action" value="+" class="btn btn-success float-right mr-2"> -->
                            </div>
                        </div>

                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="save-floationg">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-2">
                {% if not edit%}
                <button type="submit" name="action" value="Create" class="floating-button btn btn-primary w-100">
                    {% trans 'Save' %}
                </button>
                {% else %}
                <button type="submit" name="action" value="Edit" class="floating-button btn btn-primary w-100">
                    {% trans 'Edit' %}
                </button>
                {% endif %}
            </div>
            <div class="col-md-5"></div>
        </div>
    </div>
</form>

{% endblock %}

{% block footerjs %}
<script src="https://cdn.jsdelivr.net/npm/vue@^2"></script>
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=initMap" async defer></script>
<script>
    var map;
    var geocoder;
    $(() => {
        $('.init-select2').select2();
        $(document).on('click', '#add-employee-form-row', function (e) {
            e.preventDefault();
            $(".init-select2").select2("destroy")
            // $(".init-select2")
            //     .removeAttr("data-select2-id aria-hidden tabindex")
            //     .removeClass("select2-hidden-accessible")
            cloneMore($(this).closest("fieldset").find('.form-row:last'), 'employees');
            $(".init-select2").select2(); //reinit 

            return false;
        });
        $(document).on('click', '#add-barbershopservice-form-row', function (e) {
            e.preventDefault();
            $(".init-select2").select2("destroy")
            // $(".init-select2")
            //     .removeAttr("data-select2-id aria-hidden tabindex")
            //     .removeClass("select2-hidden-accessible")
            cloneMore($(this).closest("fieldset").find('.form-row:last'), 'barbershop_services');
            $(".init-select2").select2(); //reinit 

            return false;
        })
        $(document).on('click', '.remove-form-row', function (e) {
            e.preventDefault();
            deleteForm('employees', $(this));
            return false;
        });

        initProvinceChange()
        initVueTreeselect()
    })

    function removeSelectHover() {
        $('.select2-selection__rendered').hover(function () {
            $(this).removeAttr('title');
        });
    }


    //dynamically add form--

    function updateElementIndex(el, prefix, ndx) {
        let id_regex = new RegExp('(' + prefix + '-\\d+)');
        let replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }

    function cloneMore($elementToClone, prefix) {

        let newElement = $elementToClone.clone(true);
        let total = $('#id_' + prefix + '-TOTAL_FORMS').val();
        let selectTagID
        newElement.find('select, input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            console.log($(this))
            if (typeof total === "undefined") {
                total = $(".form-row").length
                $("#id_form-TOTAL_FORMS").val(total + 1)
            }
            let name = $(this).attr('name').replace('-' + (total - 1) + '-', '-' + total + '-');
            let id = 'id_' + name;
            if ($(this).prop("tagName") == 'SELECT') selectTagID = id
            $(this).attr({
                'name': name,
                'id': id
            }).val('').removeAttr('checked');
        });
        total++;
        $('#id_' + prefix + '-TOTAL_FORMS').val(total);

        let clonedElement = $elementToClone.after(newElement);

        $(clonedElement).next().find("select")
            .removeAttr("data-select2-id aria-hidden tabindex")
            .removeClass("select2-hidden-accessible")
            .val("Master")
            .siblings("span").remove()

        $(clonedElement).next().find(".employee_id_input").remove()
        if ($(clonedElement).next().find(".errorlist").length) $(clonedElement).next().find(".errorlist").remove()


        return false;
    }

    function cloneWithVue(oldTotal, $elementToClone, prefix) {
        let newElement = $elementToClone.clone(true);
        let selectTagID
        newElement.find('select, input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
            console.log($(this))
            let name = $(this).attr('name').replace('-' + (oldTotal - 1) + '-', '-' + oldTotal + '-');
            let id = 'id_' + name;
            if ($(this).prop("tagName") == 'SELECT') selectTagID = id
            $(this).attr({
                'name': name,
                'id': id
            }).val('').removeAttr('checked');
        });
        $('#id_' + prefix + '-TOTAL_FORMS').val(oldTotal + 1);

        let clonedElement = $elementToClone.after(newElement);

        $(clonedElement).next().find("select")
            .removeAttr("data-select2-id aria-hidden tabindex")
            .removeClass("select2-hidden-accessible")
            .val("Master")
            .siblings("span").remove()

        $(clonedElement).next().find(".employee_id_input").remove()
        if ($(clonedElement).next().find(".errorlist").length) $(clonedElement).next().find(".errorlist").remove()


        return false;
    }

    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (total > 1) {
            btn.closest('.form-row').remove();
            var forms = $('.form-row');
            $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
            for (var i = 0, formCount = forms.length; i < formCount; i++) {
                $(forms.get(i)).find(':input').each(function () {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }

    function initMap() {
        geocoder = new google.maps.Geocoder();
        let lat, lng;
        if ($("#id_address_lat").val()) {
            lat = parseFloat($("#id_address_lat").val())
            lng = parseFloat($("#id_address_lng").val())
        } else {
            lat = -34.397
            lng = 150.644
        }
        map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: lat,
                lng: lng
            },
            zoom: 15,
            fullscreenControl: false,
        });
        map.setOptions({
            draggable: true
        });
        google.maps.event.addListener(map, 'dragend', function () {
            writeCenterOfMapToCoordsForm()
        });

        $('<div/>').addClass('centerMarker').appendTo(map.getDiv())
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                map.setZoom(15);
                writeCenterOfMapToCoordsForm()
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function writeCenterOfMapToCoordsForm() {
        const mapCenter = map.getCenter()
        console.log("map center = ", mapCenter.lat(), mapCenter.lng())
        //fill the coords field 
        $("#id_address_lat").val(mapCenter.lat().toFixed(6))
        $("#id_address_lng").val(mapCenter.lng().toFixed(6))
    }
    var vueApp;

    function initVueTreeselect(){
        Vue.component('treeselect', VueTreeselect.Treeselect)

        vueApp = new Vue({
            el: '#vue-app',
            delimiters: ['[[', ']]'],
            data: {
                // define the default value
                value: [ 
                    {% for active_service in barbershop_active_services %}
                        {{ active_service.pk }},
                    {% endfor %}
                ],
                // define options
                options: [
                    {% for srv in services %}
                    {
                        id: {{ srv.pk }},
                        label: "{{ srv.name }}",
                        isDisabled: {% if srv.is_active %} true {% else %} false {% endif %}
                    },
                    {% endfor %}
                ],
                servicesFormset: {
                    total_form_count: {{barbershop_services_formset.total_form_count}},
                    initial_form_count: {{barbershop_services_formset.initial_form_count}}
                }
            },
            methods: {
                addedServices(){
                    const addedServices = this.value.filter(value => -1 !== this.options.filter(option=>option.isDisabled==false).map(option=>option.id).indexOf(value))
                    if(addedServices.length>0){
                        this.servicesFormset.total_form_count = this.value.length                        
                    }
                    removeSelectHover()
                    return addedServices
                },
                findServiceByID(id){
                    return this.options.find(option => option.id === id)
                }
            }
        })
    }
</script>
{% endblock %}